In [1]:
#Graded Exercise 1 - Part 1
import pandas as pd
import numpy as np
#*Create a single summary data set of ratings data*__ using all three years

In [2]:
#create a dataframe and read the excel file into the dataframe
df_2016 = pd.read_excel("2016SFOCustomerSurveyData.xlsx", sheetname=0, 
                        parse_cols = "A,CE,BN,BS,BX,BY,BZ, AK:AY, BE:BJ")
#rename the column for consistancy with other dataframes
df_2016.rename(columns={'*RESPNUM' : 'RESPNUM'}, inplace=True)
df_2016['Date'] = '2016'

In [3]:
#create a dataframe and read the excel file into the dataframe
df_2014 = pd.read_excel("sfocustsat2014datafile_WEIGHTED_flysfo.xlsx", 
                        sheetname=1, 
                        parse_cols = "A,CD,BM,BR,BW,BX,BY,AL:AZ,BD:BI")
df_2014['Date'] = '2014'

In [4]:
#create a dataframe and read the excel file into the dataframe ,add the columns to the list and send to the usecols.
a = [0,59,64,69,70,71,76]
range1 = [i for i in range(32,47)]
range2 = [i for i in range(50,56)]
usecols = a + range1 + range2
df_2015  = pd.read_csv("sfocustsat2015datafile_WEIGHTED_flysfo.csv", 
                       usecols= usecols)
#rename the dataFrame for consistancy
df_2015.rename(columns={'Q12PRECHEKCRATE' : 'Q12PRECHECKRATE'}, 
               inplace=True)
df_2015['Date']=2015

In [5]:
#concatinate dataframes by axis = 0 index, join by union
frames = [df_2014,df_2015,df_2016]
final_dataFrame = pd.concat(frames, axis=0, join='outer')
#display variables and summary of the dataframe
summary = final_dataFrame.columns.get_values()
summary.tolist()
print "Columns "
print "[" + ", ".join(summary) + "]"
count = final_dataFrame.isnull().values.ravel().sum()
print " "
print 'Missing values count is, %s.' % count
print " "
print "No of Rows -  ,No of Column -  "
countRows = final_dataFrame.shape[0]
countColumns = final_dataFrame.shape[1]
print countRows
print countColumns

Columns
[RESPNUM, Q7ART, Q7FOOD, Q7STORE, Q7SIGN, Q7WALKWAYS, Q7SCREENS, Q7INFODOWN, Q7INFOUP, Q7WIFI, Q7ROADS, Q7PARK, Q7AIRTRAIN, Q7LTPARKING, Q7RENTAL, Q7ALL, Q9BOARDING, Q9AIRTRAIN, Q9RENTAL, Q9FOOD, Q9RESTROOM, Q9ALL, Q10SAFE, Q12PRECHECKRATE, Q13GETRATE, Q14FIND, Q14PASSTHRU, Q16LIVE, Date]

Missing values count is, 3926.

No of Rows -  ,No of Column -
8863
29

In [6]:
#result dataframe
final_dataFrame

,RESPNUM,Q7ART,Q7FOOD,Q7STORE,Q7SIGN,Q7WALKWAYS,Q7SCREENS,Q7INFODOWN,Q7INFOUP,Q7WIFI,...,Q9FOOD,Q9RESTROOM,Q9ALL,Q10SAFE,Q12PRECHECKRATE,Q13GETRATE,Q14FIND,Q14PASSTHRU,Q16LIVE,Date
0,1,5,5,5,4,5,3,3,3,3,...,5,5,5,5,5,5,4,5,1,2014
1,2,6,6,2,4,5,5,6,6,3,...,6,4,4,5,NaN,4,4,4,1,2014
2,3,6,3,3,5,4,4,6,6,4,...,4,4,4,5,5,5,5,5,1,2014
3,4,6,5,5,5,5,5,5,5,5,...,5,4,4,5,NaN,5,5,5,1,2014
4,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,0,5,5,5,1,2014
5,6,5,5,4,4,5,5,4,4,5,...,5,5,5,4,NaN,5,5,5,1,2014
6,7,5,4,4,5,5,5,5,5,5,...,5,1,4,5,NaN,0,5,5,1,2014
7,8,4,4,4,5,5,5,4,4,5,...,4,5,4,4,NaN,5,4,4,1,2014
8,9,4,4,4,5,4,5,6,6,6,...,4,5,5,5,NaN,4,5,5,3,2014
9,10,5,4,3,4,3,3,3,3,5,...,5,5,4,5,NaN,3,3,5,1,2014
10,11,3,3,3,4,3,3,3,3,2,...,3,2,3,4,5,3,3,3,1,2014
11,12,5,4,4,5,5,5,4,5,5,...,5,5,5,5,NaN,5,5,5,3,2014
12,13,4,4,4,4,4,4,6,6,6,...,4,3,4,4,NaN,4,4,4,1,2014
13,14,4,4,4,4,4,4,4,4,5,...,4,4,4,5,NaN,0,5,5,1,2014
14,15,4,4,5,5,5,5,4,3,4,...,5,5,5,5,NaN,5,5,6,3,2014
15,16,4,4,3,3,3,3,6,6,2,...,3,3,4,5,NaN,3,3,4,1,2014
16,17,6,3,3,3,3,3,3,3,3,...,6,5,5,5,NaN,0,5,5,0,2014
17,18,5,4,4,5,4,4,6,6,5,...,4,4,4,4,NaN,5,5,5,1,2014
18,19,0,4,4,5,4,5,4,4,4,...,5,4,4,3,NaN,6,5,0,3,2014
19,20,6,4,3,4,3,3,4,4,4,...,5,5,4,4,0,4,3,4,1,2014
20,21,6,4,6,4,5,5,4,4,6,...,5,5,5,3,NaN,5,4,4,1,2014
21,22,6,4,6,5,5,6,6,6,3,...,5,4,4,5,NaN,5,5,4,3,2014
22,23,6,4,6,4,4,4,6,6,6,...,4,4,4,3,NaN,0,4,4,1,2014
23,24,6,4,6,1,3,6,6,6,6,...,4,6,4,5,NaN,4,5,5,3,2014
24,25,6,2,2,5,5,5,6,6,6,...,5,5,4,5,5,4,5,5,1,2014
25,26,6,4,3,4,4,4,4,6,4,...,5,5,5,5,NaN,5,5,5,3,2014
26,27,6,6,6,4,5,5,5,5,6,...,5,5,5,4,NaN,4,3,4,3,2014
27,28,0,4,0,4,4,4,4,4,0,...,4,4,4,4,NaN,5,5,5,0,2014
28,29,4,3,3,5,5,4,4,4,4,...,5,4,4,4,NaN,4,4,3,3,2014
29,30,5,2,3,3,3,3,6,6,6,...,3,3,3,3,NaN,5,5,5,3,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3057,1939,5,5,5,3,3,3,6,6,6,...,2,2,3,5,NaN,0,3,3,1,2016
3058,868,0,4,4,4,0,5,3,3,0,...,4,5,4,4,5,4,5,4,3,2016
3059,1822,4,6,6,4,6,4,6,6,6,...,6,4,4,4,NaN,5,4,3,3,2016
3060,1015,5,6,6,6,0,5,6,6,0,...,0,5,5,4,5,4,5,0,0,2016
3061,1031,6,6,6,5,5,5,5,5,6,...,0,5,4,5,NaN,5,5,5,3,2016
3062,859,5,5,4,4,4,4,4,4,4,...,4,4,4,4,NaN,4,4,4,2,2016
3063,892,6,3,6,1,3,2,3,3,4,...,2,4,4,3,NaN,5,4,5,1,2016
3064,2018,0,0,0,0,0,0,0,0,0,...,6,5,0,4,NaN,0,0,0,3,2016
3065,1861,5,6,5,5,5,5,6,6,6,...,5,5,5,5,NaN,4,5,4,1,2016
3066,452,3,4,4,4,4,4,3,6,6,...,3,3,3,4,5,4,3,4,3,2016
3067,509,5,4,4,4,5,5,6,6,6,...,4,4,5,4,5,5,5,5,1,2016
3068,765,3,3,6,4,4,4,4,4,4,...,3,5,5,5,5,5,5,5,3,2016
3069,778,4,3,3,4,4,4,6,6,2,...,4,4,4,3,5,3,4,4,1,2016
3070,1834,4,6,6,5,5,5,6,6,6,...,6,5,5,5,5,5,5,5,3,2016
3071,1842,3,3,3,3,4,3,3,6,6,...,4,4,4,4,NaN,5,3,3,3,2016
3072,2889,5,3,4,4,4,4,4,4,0,...,5,5,5,4,5,5,5,5,1,2016
3073,2964,6,6,6,3,0,4,5,5,5,...,6,4,4,3,NaN,5,3,3,1,2016
3074,2585,3,3,3,4,5,5,6,6,4,...,6,3,3,0,0,2,3,3,3,2016
3075,1221,0,0,0,0,0,0,0,0,0,...,0,0,3,4,NaN,4,0,0,3,2016
3076,233,5,5,5,5,5,5,5,5,5,...,5,5,5,3,NaN,6,5,6,3,2016
3077,654,6,5,5,5,5,5,5,5,5,...,5,4,5,5,NaN,5,5,6,3,2016
3078,1788,3,3,5,4,5,5,6,6,6,...,5,5,5,5,NaN,5,5,5,1,2016
3079,2299,5,3,5,5,5,5,5,5,6,...,3,4,4,5,NaN,4,4,5,1,2016
3080,149,4,3,4,4,4,4,6,6,6,...,4,5,4,5,5,5,5,5,1,2016
3081,1965,6,5,5,5,5,5,6,6,6,...,5,5,5,4,NaN,3,5,5,3,2016
3082,612,5,1,3,4,4,4,6,6,6,...,3,2,3,4,NaN,0,4,4,1,2016
3083,1262,5,5,5,5,5,5,5,6,5,...,6,4,4,5,5,4,5,5,3,2016
3084,1791,6,6,6,0,4,4,4,3,6,...,3,4,4,4,1,4,3,0,1,2016
3085,1473,6,4,4,4,4,4,4,4,4,...,0,4,4,0,1,4,0,0,0,2016
3086,2505,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,0,5,2,3,2016

In [7]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Final_Data.xlsx', engine='xlsxwriter')
# Convert the dataframe to an XlsxWriter Excel object.
final_dataFrame.to_excel(writer, sheet_name='Sheet1')
# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [8]:
#implement pickling - part 5 of Graded Excercise
final_dataFrame.to_pickle('final_dataFrameP')

In [9]:
#Graded Exercise 1 - Part 2
# create a daframe with comments from the following columns
df_2016 = pd.read_excel("2016SFOCustomerSurveyData.xlsx", 
                        sheetname=0, parse_cols = "AZ:BD")
df_2016
#Used melt() to make the wide and short data into tall and narrow
df_2016_Melted = pd.melt(df_2016, var_name="Q8COMMENTS", 
                         value_name="CODE")
df_2016_Melted=df_2016_Melted['CODE'].value_counts().reset_index().rename(
    columns={'index': 'COMMENT',0: 'count'})
#Using Lambda to calculate relativefrequency
df_2016_Melted['RELATIVEFREQ']=df_2016_Melted.apply(lambda x: 
                                                      (x.CODE / df_2016_Melted
                                                       ['CODE'].sum()),
                                                      axis=1)
df_2016_Melted['COMMENT'] = df_2016_Melted['COMMENT'].astype(int)
df_2016_Melted

     COMMENT  CODE  RELATIVEFREQ
0          0  1460      0.395450
1        999   193      0.052275
2        202   190      0.051463
3        103   139      0.037649
4        203   112      0.030336
5        505    98      0.026544
6        501    90      0.024377
7         20    53      0.014355
8        704    41      0.011105
9          8    35      0.009480
10       994    33      0.008938
11       205    32      0.008667
12         9    31      0.008397
13       309    31      0.008397
14       701    30      0.008126
15       215    28      0.007584
16       102    28      0.007584
17       207    27      0.007313
18       609    27      0.007313
19         4    27      0.007313
20       608    27      0.007313
21       803    26      0.007042
22        21    24      0.006501
23        34    24      0.006501
24       327    24      0.006501
25       614    24      0.006501
26       993    23      0.006230
27       306    22      0.005959
28       621    21      0.005688
29       311    21      0.005688
..       ...   ...           ...
107       37     3      0.000813
108       18     3      0.000813
109      106     3      0.000813
110       17     3      0.000813
111      709     3      0.000813
112      307     2      0.000542
113      410     2      0.000542
114      601     2      0.000542
115      325     2      0.000542
116      308     2      0.000542
117      114     2      0.000542
118      304     2      0.000542
119      603     2      0.000542
120      107     2      0.000542
121       25     2      0.000542
122      403     2      0.000542
123      213     2      0.000542
124      110     1      0.000271
125       24     1      0.000271
126      310     1      0.000271
127       32     1      0.000271
128       28     1      0.000271
129       13     1      0.000271
130       36     1      0.000271
131      407     1      0.000271
132      324     1      0.000271
133      613     1      0.000271
134      619     1      0.000271
135      503     1      0.000271
136      212     1      0.000271

[137 rows x 3 columns]

In [10]:
#Display top 3 most comments
# create a daframe with comments from the following columns
df_2016_comments = pd.read_excel("SFO2016Comments.xlsx",
                                 sheetname=0, parse_cols = "A:B")
#df_2016_comments
df_2016_Final = pd.merge(df_2016_Melted, df_2016_comments, 
                         on='COMMENT', how='inner')
df_2016_Final.iloc[0:3]

,COMMENT,CODE,RELATIVEFREQ,DESCRIPTION
0,0,1460,0.395450,Blank/No Response
1,999,193,0.052275,999 Good experience/keep up the good work/othe...
2,202,190,0.051463,202 Need more places to eat/drink/more variety...

In [11]:
#create a dataframe and read the excel file into the dataframe
# add the columns to the list and send to the usecols- .
a = [47,48,49]
usecols = a 
df_2015  = pd.read_csv("sfocustsat2015datafile_WEIGHTED_flysfo.csv", 
                       usecols= usecols)
#Used melt() to make the wide and short data into tall and narrow
df_2015_Melted = pd.melt(df_2015, var_name="Q8COMMENTS", 
                         value_name="CODE")
df_2015_Melted = df_2015_Melted['CODE'].value_counts().reset_index().rename(
    columns={'index': 'COMMENT', 0: 'count'})
#calculating relative frequency
df_2015_Melted['RELATIVEFREQ'] = df_2015_Melted.apply(
    lambda x: (x.CODE / df_2015_Melted['CODE'].sum()),axis=1)
df_2015_Melted['COMMENT'] = df_2015_Melted['COMMENT'].astype(int)

In [12]:
#3 most common comments displaying comments and codes in a dataframe
# create a daframe with comments from the following columns
df_2015_comments = pd.read_excel("SFO2015Comments.xlsx", 
                                 sheetname=0, parse_cols = "A:B")
df_2015_comments
#df_2015_Final = pd.concat([df_2015_Melted, df_2015_comments], axis=1)
df_2015_Final = pd.merge(df_2015_Melted, df_2015_comments, 
                         on='COMMENT', how='inner')
df_2015_Final.iloc[0:3]

,COMMENT,CODE,RELATIVEFREQ,DESCRIPTION
0,999,192,0.107623,999 Good experience/keep up the good work/othe...
1,202,142,0.079596,202 Need more places to eat/drink/more variety...
2,505,76,0.042601,505 Add plugs/electrical outlets/places to cha...

In [13]:
#implement pickling - part 5 of Graded Excercise
df_2015_Melted.to_pickle('df_2015_MeltedP')  
#implement pickling - part 5 of Graded Excercise
df_2016_Melted.to_pickle('df_2016_MeltedP')

In [14]:
#Graded Exercise 1 - Part 3
#create a dataframe and read the excel file into the dataframe
df_final = pd.read_excel("Final_Data.xlsx", sheetname=0, parse_cols= "Q,AC")
# create counter and initially, set that counter to 1.
df_final['COUNTER'] = 1     
#use groupby and sum function
df_finalGroup = df_final.groupby(['Q7ALL','Q16LIVE'])['COUNTER'].sum() 
df_finalGroup

Q7ALL  Q16LIVE
0      0            24
       1            66
       2            17
       3           134
1      0             2
       1             5
       2             1
       3            12
2      0             7
       1            29
       2             4
       3            78
3      0            56
       1           433
       2            72
       3           983
       4             1
4      0           144
       1          1595
       2           206
       3          2700
       4             2
5      0            65
       1           702
       2           111
       3          1197
       4             1
6      0             5
       1            11
       2             3
       3            56
Blank  0            22
       1            35
       2             6
       3            78
Name: COUNTER, dtype: int64

In [15]:
#implement pickling - part 5 of Graded Excercise
df_finalGroup.to_pickle('df_finalGroupP')

In [16]:
#Graded Exercise 1 - Part 4
df_Responses  = pd.read_csv("select_resps.csv", 
                            encoding='utf-8')

In [17]:
df_2016 = pd.read_excel("2016SFOCustomerSurveyData.xlsx", 
                        sheetname=0, parse_cols="A,N,S,W,X,Y,AC:AJ,CE,CL:CR" , 
                        encoding='utf-8')
df_2016.rename(columns={'*RESPNUM' : 'RESPNUM'}, inplace=True)
df_2016['year'] = 2016

In [18]:
a = [0,6,8,17,18,19,23,24,25,26,27,28,29,30,76,82,83,84,85,86,87,88]
usecols = a
df_2015  = pd.read_csv("sfocustsat2015datafile_WEIGHTED_flysfo.csv", 
                       usecols = usecols, encoding='utf-8')
df_2015['year'] = 2015

In [19]:
df_Responses_m1 = df_Responses.merge(df_2015, on='RESPNUM', how='inner')
df_Responses_m2 = df_Responses.merge(df_2016, on='RESPNUM', how='inner')
df_Responses_m2.rename(columns={'year_x' : 'year'}, inplace=True)
df_Responses_m2 = df_Responses_m2.drop('year_y', 1)
#display variables and summary of the dataframe
summary = df_Responses_m2.columns.get_values()
summary.tolist()
print "[" + ", ".join(summary) + "]"
print "No of Rows - No of Column "
countRows = df_Responses_m2.shape[0]
countColumns = df_Responses_m2.shape[1]
print countRows
print countColumns

[RESPNUM, year, DESTINATION, DESTMARK, Q2PURP1, Q2PURP2, Q2PURP3, Q3PARK, Q4BAGS, Q4STORE, Q4FOOD, Q4WIFI, Q5TIMESFLOWN, Q5FIRSTTIME, Q6LONGUSE, Q16LIVE, Q19AGE, Q20GENDER, Q21INCME, Q22FLY, Q23SJC, Q23OAK, LANG]
No of Rows - No of Column
180
23

In [20]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Final_Data_Resp.xlsx', engine='xlsxwriter')
# Convert the dataframe to an XlsxWriter Excel object.
df_Responses_m2.to_excel(writer, sheet_name='Sheet1')
# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [21]:
#implement pickling - part 5 of Graded Excercise
df_Responses_m2.to_pickle('df_Responses_mergeF')

In [22]:
df = pd.read_excel("Final_Data_Resp.xlsx", sheetname=0, 
                   parse_cols="B,C,N,I,P" , encoding='utf-8')
#calculate frequency of parking
df_Park = df['Q3PARK'].value_counts().reset_index().rename(
    columns={'index': 'PARKING', 0: 'count'})
df_Park['PARKING'] = df_Park['PARKING'].astype(int)
df_Park

   PARKING  Q3PARK
0        4       5
1        3       3
2        1       2
3        0       2
4        2       1

In [23]:
#calculate frequency of TimesFlown
df_TF = df['Q5TIMESFLOWN'].value_counts().reset_index().rename(
    columns={'index': 'TIMESFLOWN', 0: 'count'})
df_TF

   TIMESFLOWN  Q5TIMESFLOWN
0           1            58
1           3            57
2           2            37
3           4            17
4           6             5
5           5             4
6           0             2

In [24]:
#calculate frequency of LongUse
df_LU = df['Q6LONGUSE'].value_counts().reset_index().rename(
    columns={'index': 'LONGUSE', 0: 'count'})
df_LU

   LONGUSE  Q6LONGUSE
0        4         78
1        2         45
2        1         36
3        3         18
4        0          3